{% extends 'base.html' %}
{% load staticfiles %}
{% block body_block %}




    <!-- <div class="container"> -->
      <div class="jumbotron" style="background-color:#E8DAEF; color:black">
<h2><ul align="center">
<b><i>
    Your Project is just few clicks away!!<br><br></li>
    Contact us through Watts app or call at :<br>9712768420 / 7600001266 / 7016040508<br><br>
    You can also reach us at : ourproject@gmail.com<br><br> </li>
    Payment details regarding the project will be given to you via sms.<br> </li>
    Complete your payment and get your project on your registered mail id!
    Please view Demo Video before buying the project!
</i></b>
  </ul>
    </h2>
   <!-- </div> -->
 </div>


  {% endblock %}
